# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Logs
*.log
drowsy_log.txt

# Media
wakeup.wav
yawn_beep.wav

# IDE
.vscode/
.idea/
